@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to FanRide</h1>
    <p>Your K-pop concert ridesharing hub!</p>
    <a href="/Account/Login" class="btn btn-primary m-2">Login</a>
    <a href="/Account/Register" class="btn btn-secondary m-2">Register</a>
</div>

